::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #7bbbdb;
}

::-webkit-scrollbar-thumb{
    background: #0083C1;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
    background: #0D5375;
}